{
  "extends": ["eslint:recommended", "fliplet"],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  },
  "globals": {
    "browser": true,
    "expect": true,
    "describe": true,
    "before": true,
    "it": true,
    "page": true,
    "casual": true
  }
}
